body {
    margin: 0; 
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(150deg, #e2e2e2, #6dd1f0);
    height: 100vh;
}

.formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

form .username, form .contraseña {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 30px;
}

.username input, .contraseña input {
    width: 100%;
    padding: 10px 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label, .contraseña label {
    position: absolute;
    top: 50%;
    left: 10px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s ease; /* Añadir transición */
}

/* Subir la etiqueta cuando el campo está en foco o contiene texto */
.username input:focus + label,
.username input:not(:placeholder-shown) + label,
.contraseña input:focus + label,
.contraseña input:not(:placeholder-shown) + label {
    top: -10px; /* Mueve la etiqueta hacia arriba */
    font-size: 12px; /* Reduce el tamaño de la etiqueta */
    color: #007bff; /* Cambia el color de la etiqueta */
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.recordar, .registro {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.recordar a, .registro a {
    color: #007bff;
    text-decoration: none;
}

.recordar a:hover, .registro a:hover {
    text-decoration: underline;
}

